* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-body: #171717;
    --cor-grid: #303030;
    --cor-red: #E2084A;
    --cor-green: #449D44;
    --cor-orange: #FB583D;
    --cor-white: #F9F9F9;
    
}

body {
    background-color: var(--cor-body);
    height: 100vh;
    width: 100vw;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template: auto auto / auto auto; /* Grid Template */
    width: 400px;
    height: 400px;
    background-color: var(--cor-grid);
}

.grid-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Colors */
.color-red { background-color: var(--cor-red); }
.color-green { background-color: var(--cor-green); }
.color-orange { background-color: var(--cor-orange); }
.color-white { background-color: var(--cor-white); }